@import "tailwindcss";

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; /* Ensures it's on top of the background but below interactive content */
  transition: background 0.3s ease-out;
}
